<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
  <head>
    <title>Firma Email</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <style>
      .color {
        color: {{colorPrimary}} !important;
      }
      .body {
        font-size: 10pt;
        font-family: Arial, sans-serif;
      }
      .table: {
        width: auto;
        font-size: 10pt;
        font-family: Arial, sans-serif;
      }
      .logo-part {
        font-size: 10pt;
        font-family: Arial, sans-serif;
        border-right: 1px solid;
        border-right-color: {{colorPrimary}} !important;
        width: 130px;
        padding-right: 10px;
        vertical-align: top;
      }
      .person-part {
        font-size: 10pt;
        color: #0079ac;
        font-family: Arial, sans-serif;
        width: 305px;
        padding-bottom: 5px;
        padding-left: 10px;
        vertical-align: top;
        line-height: 25px;
      }
      .title {
        font-size: 14pt;
        font-family: Arial, sans-serif;
        color: {{colorPrimary}};
      }
      .text {
        font-family: Arial, sans-serif;
        font-size: 10pt;
        color: #545454;
      }
      .contact-part {
        font-size: 10pt;
        color: #444444;
        font-family: Arial, sans-serif;
        padding-bottom: 5px;
        padding-top: 5px;
        padding-left: 10px;
        vertical-align: top;
      }
      .address-part {
        font-size: 10pt;
        font-family: Arial, sans-serif;
        padding-bottom: 5px;
        padding-top: 5px;
        padding-left: 10px;
        vertical-align: top;
        color: #0079ac;
      }
      .group-part {
        font-size: 10pt;
        font-family: Arial, sans-serif;
        padding-bottom: 5px;
        padding-top: 15px;
        padding-left: 10px;
        vertical-align: top;
        color: #0079ac;
      }
      .social-part {
        font-size: 10pt;
        font-family: Arial, sans-serif;
        padding-bottom: 5px;
        padding-top: 5px;
        padding-left: 10px;
        vertical-align: top;
      }
      .icon {
        height: 12px;
      }
      .logo {
        height: 80px;
        width: auto;
        border: 0;
      }
      .logo-alt {
        font-size: 22pt;
        font-family: Arial, sans-serif;
        color: {{colorPrimary}};
      }
    </style>
  </head>
  <body class="body">
    <table class="table" cellpadding="0" cellspacing="0">
      <tbody>
        <tr>
          <td
            width="130"
            valign="top"
            rowspan="6"
            class="logo-part"
            style="border-top: 0"
          >
            {{#logoUrl}} 
              {{#websiteUrl}}
                <a href="{{websiteUrl}}" target="_blank">
                  <img src="{{logoUrl}}" class="logo" alt="Logo" border="0" />
                </a>
              {{/websiteUrl}}
              {{^websiteUrl}}
                <strong>
                  <span class="logo-alt">{{legalName}}</span>
                </strong>
              {{/websiteUrl}} 
            {{/logoUrl}}
            {{^logoUrl}}
              <strong>
                <span class="logo-alt">{{legalName}}</span>
              </strong>
            {{/logoUrl}}
          </td>
          <td style="border-top: 0; padding-bottom: 0">
            <table cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td class="person-part" valign="top">
                    <strong
                      ><span class="title"
                        >{{firstName}} {{lastName}}<br /></span
                    ></strong>
                    {{#role}}<span class="text">{{role}}</span>{{/role}}
                    {{#department}}
                    <span class="text">|</span>
                    <span class="text">{{department}}</span>
                    {{/department}} {{#site}}
                    <span class="text">|</span>
                    <span class="text">{{site}}</span>
                    {{/site}}
                  </td>
                </tr>
                <tr>
                  <td class="contact-part" valign="top">
                    {{#phone}}
                    <span>
                      {{#phoneIconUrl}}<span
                        ><img
                          src="{{phoneIconUrl}}"
                          class="icon"
                          alt="phone" /></span
                      >{{/phoneIconUrl}} {{^phoneIconUrl}}<span class="text"
                        >tel:</span
                      >{{/phoneIconUrl}}
                      <span class="text">
                        <a href="tel:{{phone}}">{{phone}}</a>
                        {{#phoneInternal}}(int.
                        {{phoneInternal}}){{/phoneInternal}}
                      </span>
                    </span>
                    <br />
                    {{/phone}} {{#email}}
                    <span>
                      {{#emailIconUrl}}<span
                        ><img
                          src="{{emailIconUrl}}"
                          class="icon"
                          alt="email" /></span
                      >{{/emailIconUrl}} {{^emailIconUrl}}<span class="text"
                        >email:</span
                      >{{/emailIconUrl}}
                      <span class="text"
                        ><a href="mailto:{{email}}">{{email}}</a></span
                      >
                    </span>
                    {{/email}}
                  </td>
                </tr>
                {{#address}}
                <tr>
                  <td class="address-part" valign="top">
                    <span class="color text">{{address}}</span>
                  </td>
                </tr>
                {{/address}}
                <tr>
                  <td class="group-part" valign="top">
                    <span class="text">{{legalName}}</span><br />
                    {{#legalPhone}}
                    <span>
                      <a
                        href="tel:{{legalPhone}}"
                        target="_blank"
                        rel="noopener"
                        style="text-decoration: none"
                        ><span class="text color">{{legalPhone}}</span></a
                      > </span
                    ><br />
                    {{/legalPhone}} {{#legalEmail}}
                    <span>
                      <a
                        href="mailto:{{legalEmail}}"
                        target="_blank"
                        rel="noopener"
                        style="text-decoration: none"
                      >
                        <span class="text color">{{legalEmail}}</span></a
                      >
                    </span>
                    <br />
                    {{/legalEmail}} {{#legalAddress}}
                    <span>
                      {{#legalMapsUrl}}
                      <a
                        href="{{legalMapsUrl}}"
                        target="_blank"
                        rel="noopener"
                        style="text-decoration: none"
                      >
                        <span class="text color">{{legalAddress}}</span>
                      </a>
                      {{/legalMapsUrl}} {{^legalMapsUrl}}<span
                        class="text color"
                        >{{legalAddress}}</span
                      >{{/legalMapsUrl}}
                    </span>
                    <br />
                    {{/legalAddress}} {{#websiteUrl}}
                    <span>
                      <a
                        href="{{websiteUrl}}"
                        target="_blank"
                        rel="noopener"
                        style="text-decoration: none"
                      >
                        <span class="text color">{{websiteUrl}}</span>
                      </a>
                    </span>
                    {{/websiteUrl}}
                  </td>
                </tr>
                <tr>
                  <td class="social-part" style="margin-bottom: 0" valign="top">
                    {{#fbUrl}}
                    <span>
                      <a href="{{{fbUrl}}}" target="_blank" rel="noopener">
                        <img
                          border="0"
                          width="23"
                          src="{{{fbIconUrl}}}"
                          alt="facebook"
                          style="border: 0; height: 23px; width: 23px" /></a
                      >&nbsp;
                    </span>
                    {{/fbUrl}} {{#twitterUrl}}
                    <span>
                      <a href="{{{twitterUrl}}}" target="_blank" rel="noopener">
                        <img
                          border="0"
                          width="23"
                          src="{{{twitterIconUrl}}}"
                          alt="twitter"
                          style="border: 0; height: 23px; width: 23px" /></a
                      >&nbsp;
                    </span>
                    {{/twitterUrl}} {{#linkedinUrl}}
                    <span>
                      <a href="{{{linkedinUrl}}}" target="_blank" rel="noopener">
                        <img
                          border="0"
                          width="23"
                          src="{{{linkedinIconUrl}}}"
                          alt="linkedin"
                          style="border: 0; height: 23px; width: 23px" /></a
                      >&nbsp;
                    </span>
                    {{/linkedinUrl}} {{#youtubeUrl}}
                    <span>
                      <a href="{{{youtubeUrl}}}" target="_blank" rel="noopener">
                        <img
                          border="0"
                          width="23"
                          src="{{{youtubeIconUrl}}}"
                          alt="youtube"
                          style="border: 0; height: 23px; width: 23px" /></a
                      >&nbsp;
                    </span>
                    {{/youtubeUrl}}
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
