<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
   <HEAD>
      <TITLE>Email Signature</TITLE>
      <META content="text/html; charset=utf-8" http-equiv="Content-Type">
   </HEAD>
   <BODY style="font-size: 10pt; font-family: Verdana, sans-serif">
      <table style="width: 500px; font-size: 10pt; font-family:Verdana, sans-serif;" cellpadding="0" cellspacing="0" border="0">
         <tbody>
            <tr>
               <td width="200" align="center" style="font-size: 10pt; font-family: Verdana, sans-serif; width: 200px; text-align:center; vertical-align: top;" valign="top" rowspan="6">
                  <a href="{{websiteUrl}}" target="_blank"><img border="0" alt="Badge" width="74" style="width:74px; height:auto; border:0;" src="{{logoUrl}}"></a>
                  <p style="margin-top:20px">
                     <a href="{{websiteUrl}}" target="_blank" rel="noopener" style="text-decoration:none;"><strong style="font-size: 8pt; font-family: Verdana, sans-serif; color: #000000;">{{websiteUrl}}</strong></a>
                  </p>
               </td>
               <td width="20" style="width:20px">&nbsp;</td>
               <td>
                  <table cellpadding="0" cellspacing="0">
                     <tbody>
                        <tr>
                           <td style="font-size: 10pt; color:#0079ac; font-family: Verdana, sans-serif; width: 305px; padding-bottom: 15px; vertical-align: top; line-height:1.2;" valign="top">
                              <strong><span style="font-size: 14pt; font-family: Verdana, sans-serif; color:#000000;">{{firstName}} {{lastName}}<br></span></strong>
                              <em style="font-family: Verdana, sans-serif; font-size:10pt; color:#000000;">{{role}}</em>
                              <span style="font-family: Verdana, sans-serif; font-size:9pt; color:#000000;" ><br>{{legalName}}</span>
                           </td>
                        </tr>
                        <tr>
                           <td style="border-top:1px solid #6ebc6e; font-size: 9pt; color:#444444; font-family: Verdana, sans-serif; padding-top: 15px; vertical-align: top; line-height:1.2" valign="top">
                              <span style="color: #6ebc6e;">M: </span><span style="font-size: 9pt; font-family: Verdana, sans-serif; color:#000000;"> {{phone}}<br></span>
                              <span style="color: #6ebc6e;">E: </span><span style="font-size: 9pt; font-family: Verdana, sans-serif; color:#000000;"> {{email}}</span>
                           </td>
                        </tr>
                        <tr >
                           <td style="font-size: 9pt; font-family: Verdana, sans-serif; padding-bottom: 5px; padding-top: 5px; vertical-align: top; color: #0079ac;" valign="top">
                              <span  style="font-size: 9pt; font-family: Verdana, sans-serif; color: #000000;">{{legalAddress}}<br /></span>
                           </td>
                        </tr>
                        <tr>
                           <td style="font-size: 10pt; font-family: Verdana, sans-serif; padding-bottom: 5px; padding-top: 5px; padding-left: 10px; vertical-align: top; color: #0079ac;" valign="top"></td>
                        </tr>
                        <tr>
                           <td style="font-size: 10pt; font-family: Verdana, sans-serif; padding-bottom: 5px; padding-top: 5px; vertical-align: top;" valign="top">
                              <a href="{{dbUrl}}" target="_blank" rel="noopener"><img border="0" width="15" src="{{fbIconUrl}}" alt="facebook icon" style="border:0; height:15px; width:15px"></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{twitterUrl}}" target="_blank" rel="noopener"><img border="0" width="15" src="{{twitterIconUrl}}" alt="twitter icon" style="border:0; height:15px; width:15px"></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{youtubeUrl}}" target="_blank" rel="noopener"><img border="0" width="15" src="{{youtubeIconUrl}}" alt="youtube icon" style="border:0; height:15px; width:15px"></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{linkedinUrl}}" target="_blank" rel="noopener"><img border="0" width="15" src="{{linkedinIconUrl}}" alt="linkedin icon" style="border:0; height:15px; width:15px"></a>
                           </td>
                        </tr>
                        </td>
                     </tbody>
                  </table>
            </tr>
         </tbody>
      </table>
   </BODY>
</HTML>